.root{
    display: flex;
    flex-direction: row;
    gap: 5px;

    width: 100%;
    padding: 6px;
    transition: all 0.4s ease-in;

    color: #ffffff;
    background: none;
    border-radius: 4px;

    font-size: 14px;
    text-transform: uppercase;
}

.root:hover{
    background: var(--gray);
    filter: brightness(100%);

}
