.input {
    all: unset;
    width: 100%;
    text-align: start;
}

.inputGroup {
    display: grid;
    grid-template-columns: 16px auto 16px;
    -ms-grid-column-align: center;
    align-items: center;
    gap: 6px;
}

.clear {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clear::before {
    content: '';
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.8s ease-out;

    background: var(--gray);
    padding: 2px;
    border-radius: 50%;
}

.clear:hover::before {
    opacity: 1;
}
